 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= photo %>);">
    <div class="container">
      <h1>Save any kind of movies into specific <strong>lists</strong>!</h1>
      <%# <p>Change your life and learn to code at one of our campuses around the world.</p> %>
      <%# <a class="btn btn-flat" href="#">Apply now</a> %>
    </div>
  </div>
